{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vehicle/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vehicle/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vehicle/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vehicle/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vehicle/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vehicle/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vehicle/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vehicle/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vehicle/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vehicle/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">

		<div class="container-login100" style="background-image: url('{% static "images/bg-01.jpg"%}')";>
				<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Vehicle Management
								cbit
				</span>
				<form class="login100-form validate-form p-b-33 p-t-5" action='login' method='post'>
	{% csrf_token %}
					<div class="wrap-input100 validate-input" data-validate = "Enter Admin ID">
						<input class="input100" type="text" name="adminid" placeholder="Admin ID">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>

          <div>
          {% for message in messages%}
          <center><span class='fa fa-exclamation-circle' style='font-size:20px;color:red'><h6><b>{{message}}</b></h6></span></center>
          {% endfor %}
          </div>
					<div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
					</form>
				</div>
				</div>
			</div>

<!--===============================================================================================-->
<script src="{% static 'vehicle/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vehicle/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vehicle/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vehicle/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vehicle/vendor/select2/select2.min.js' %}"</script>
<!--===============================================================================================-->
	<script src="{% static 'vehicle/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vehicle/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vehicle/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vehicle/js/main1.js' %}"></script>

</body>
</html>
